package demo.Automation;

import org.openqa.selenium.By;
import org.openqa.selenium.WebDriver;
import org.openqa.selenium.WebElement;
import org.openqa.selenium.chrome.ChromeDriver;
import org.openqa.selenium.support.ui.Select;

public class drop {
public static void main(String[] args) throws InterruptedException {
	System.setProperty("webdriver.chrome.driver","C:\\Users\\ABISHEK\\eclipse-workspace\\demoAutomation\\driver\\chromedriver.exe");
	WebDriver driver =new ChromeDriver();
driver.get("http://automationpractice.com/index.php");
driver.manage().window().maximize();
//Thread.sleep(2000);
WebElement sin = driver.findElement(By.className("login"));
sin.click();
WebElement emcret = driver.findElement(By.id("email_create"));
emcret.sendKeys("abisheik.mathiyalagan@gmail.com");
Thread.sleep(2000);
driver.findElement(By.name("SubmitCreate")).click();
Thread.sleep(2000);
driver.findElement(By.id("id_gender1")).click();
driver.findElement(By.id("customer_firstname")).sendKeys("abishek");
driver.findElement(By.id("customer_lastname")).sendKeys("mathiyalagan");
driver.findElement(By.xpath("//input[@type='password']")).sendKeys("56777889");
WebElement day = driver.findElement(By.id("days"));
Select sc =new Select(day);
sc.selectByVisibleText("21  ");
WebElement month = driver.findElement(By.name("months"));
Select sc1 =new Select(month);
sc1.selectByIndex(3);
WebElement year = driver.findElement(By.name("years"));
Select sc2=new Select(year);
sc2.selectByValue("1999");
driver.findElement(By.id("firstname")).sendKeys("abishek");
driver.findElement(By.id("lastname")).sendKeys("mathiyalagan");
driver.findElement(By.id("company")).sendKeys("abc infotech");
driver.findElement(By.id("address1")).sendKeys("1st street");
driver.findElement(By.id("city")).sendKeys("Karur");
WebElement state = driver.findElement(By.id("id_state"));
Select sc3=new Select(state);
sc3.selectByIndex(1);
driver.findElement(By.id("postcode")).sendKeys("63911");
driver.findElement(By.name("phone_mobile")).sendKeys("1234567890");
driver.findElement(By.id("alias")).sendKeys("qwe");
driver.findElement(By.xpath("(//button[@type='submit'])[2]")).click();
driver.findElement(By.xpath("//a[@title='Log me out']")).click();





}
}
